@keyframes fadeInAndSlideDown {
  0% {
    opacity: 0;
    top: -20px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes fadeInHome {
  0% {
    opacity: 0;
    top: -20px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@-moz-keyframes fadeInHome {
  0% {
    opacity: 0;
    top: -20px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}


.fadeInAndSlideDown {
  position: relative;
  top: -20px;
  opacity: 0;
  animation: fadeInAndSlideDown 1s 0.5s ease forwards;
  -webkit-animation: fadeInHome 1s 0.5s ease forwards;
  -moz-animation: fadeInHome 1s 0.5s ease forwards;
}





