.tabs {
  display: flex;
  align-items: center;
}
.tab {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  opacity: 0.3;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  color: black;
}
.tab:hover {
  opacity: 1;
}
.tab.active {
  opacity: 1;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 5px solid #00A699;
}
