body{
  background-color: #EDEFF0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #DD5555;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

p{
  text-align: justify;
}

a{
  color: #ccc;
  text-decoration: none;
}

a:hover{
  color: #DD5555;
  text-decoration: none;
}

#container{
  width: 500px;
  margin: 30px auto;
}

.card{
  background: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.img-circle{
  border-radius: 50%;
}

.text-center{
  text-align: center;
}

#img-profile{
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
}

#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#movies img{
  width: 80px;
}
#movies td{
  padding: 10px;
}

.list-inline {
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  width: 90px;
}

.list-inline li i{
  font-size: 25px;
}

.btn-danger{
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

.btn-danger:hover{
  background-color: #C61414;
  color: white;
}

/* Fixed sidebar layout */

#content{
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  left: 10%;
}

#sidebar {
  position: fixed;
  left: 0px;
  background-color: #384047;
  top: 0px;
  bottom: 0px;
  width: 10%;
  text-align: center;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
  margin-top:50px;
  margin-bottom: 50px;
}

#sidebar a {
  text-decoration: none;
  font-size: 25px;
  color:#788188;
}

#sidebar a:hover {
  color: white;
}