body{
  background: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}


h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #DD5555;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

p{
  text-align: justify;
}

a{
  color: #ccc;
  text-decoration: none;
}

a:hover{
  color: #DD5555;
  text-decoration: none;
}


#img-profile{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
}

#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

#movies img{
  width: 80px;
}
#movies td{
  padding: 10px;
}

.white-container{
  background: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 10px auto;
}

.text-center{
  text-align: center;
}

.nav-icons {
  padding-left: 0;
}

.nav-icons li {
  display: inline-block;
  width: 90px;
}

.nav-icons li i{
  font-size: 25px;
}

.btn-danger{
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

.btn-danger:hover{
  background-color: #C61414;
  color: white;
}

#wrapper{
  padding: 20px;
  width: 1000px;
  margin: 20px auto;
  display: table;
  border-radius: 2px;
  background: rgba(175, 175, 175, 0.1);
}

#left-container{
  width: 35%;
  float: left;
}

#right-container{
  width: 60%;
  float: right;
}

.clear{
  clear: both;
}


#footer{
  position: relative;
  padding: 10px 400px 60px 20px;
}

.share{
  position: absolute;
  text-align: center;
  bottom: 10px;
  right: 0px;
}