.cards {
  display: flex;
}
.card {
  flex: 1 1 auto;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}
.card:hover {
  margin-top: -5px;
}
.card-body {
  height: 180px;
  background-size: cover;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  opacity: 0.9;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}
.card-description p {
  font-size: 14px;
  font-weight: lighter;
  opacity: 0.9;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.card-footer p {
  color: rgba(0,0,0,0.4);
  font-weight: lighter;
  font-size: 12px;
}
.card-footer .controls{
  display: flex;
  align-items: center;
}
.card-footer .controls i{
  padding: 0 10px;
  color: black;
  opacity: 0.2;
}
.card-footer .controls i:hover{
  opacity: 0.4;
}
