.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 13px;
  }
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  &:hover{
    opacity: 0.1;
  }
}
