.cards {
  display: flex;
}
.card {
  flex: 1 1 auto;
  height: 200px;
  margin: 10px;
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 2px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  opacity: 0.9;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}
.card-description p {
  font-size: 14px;
  font-weight: lighter;
  opacity: 0.9;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
