@import url("button.css");
@import url("banner.css");
@import url("card.css");
@import url("avatar.css");

body {
  margin: 0;
  margin-bottom: 100px;
  font-family: "Open-sans", sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
.text-center {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
}
